In [1]:
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [2]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

In [3]:
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [4]:
phonebook.update({'George':1367842718,'Laura':1435928930})

In [5]:
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781, 'George': 1367842718, 'Laura': 1435928930}

In [6]:
phonebook = {'England':{},'France':{}}
phonebook['England'].update({
        'George':'+44 1839 823 345',
        'Becky':'+44 8394 234 234',
        'Hatty':'+44 7329 434 234'
        })
phonebook['France'].update({
        'Patrice':'+33 7 34 23 15 34',
        'Benoit':'+33 6 12 32 15 24'
        })

In [7]:
print(phonebook['France'])
print(phonebook['England']['George'])

{'Patrice': '+33 7 34 23 15 34', 'Benoit': '+33 6 12 32 15 24'}
+44 1839 823 345

In [8]:
x = 1
while x < 5:
    print('{} is less than 5'.format(x))
    x += 1

1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

In [9]:
running = True
score = 0
while running:
    #game functions
    score += 1
    if score >= 10:
        print('Well done, level 1 complete!')
        running = False

Well done, level 1 complete!

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
names = ['George','Hatty','Adam','Henry','Rebecca','Loretta','Renato']
for i in range(4):
    print(names[i])

George
Hatty
Adam
Henry

In [12]:
for i in range(len(names)):
    print(names[i])

George
Hatty
Adam
Henry
Rebecca
Loretta
Renato

In [13]:
for name in names:
    print(name)

George
Hatty
Adam
Henry
Rebecca
Loretta
Renato

In [14]:
for name in names:
    if name[0].lower() == 'h': print(name)

Hatty
Henry

In [15]:
names_len = len(names)
i = 0
while i < names_len:
    if names[i][0].lower() == 'h': print(names[i])
    i += 1

Hatty
Henry

In [16]:
for country in phonebook:
    for contact in phonebook[country]:
        print('{} is from {}'.format(contact,country))
        print('Their phone number is: ',phonebook[country][contact])

George is from England
Their phone number is:  +44 1839 823 345
Becky is from England
Their phone number is:  +44 8394 234 234
Hatty is from England
Their phone number is:  +44 7329 434 234
Patrice is from France
Their phone number is:  +33 7 34 23 15 34
Benoit is from France
Their phone number is:  +33 6 12 32 15 24

In [17]:
running = True
enemies = 10 #imagine we have 10 space invaders on screen
while running:
    for i in range(enemies):
        if i == 8: running = False

In [18]:
for number in range(5):
    print(number)

0
1
2
3
4

In [19]:
for number in range(5):
    print(number)
    if number == 2: break

0
1
2

In [20]:
i = 2
while(i < 100):
   j = 2
   while(j <= (i/j)):
      if not(i%j): break
      j += 1
   if (j > i/j) : print(i, 'is prime')
   i += 1

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime

In [21]:
def add(x,y):
    addition = x + y
    return addition

In [22]:
add(10,15)

25

In [23]:
def subtract(x,y):
    return x - y

In [24]:
subtract(20,14)

6

In [25]:
def is_prime(x):
    """
    The function checks if the x input is prime
    """
    i = 2
    prime = 1
    while i <= x**0.5:
        if x%i == 0:
            prime = 0
            break
        i+=1
        # print(i)
    if prime: return True
    else: return False

In [26]:
is_prime(27)

False

In [28]:
is_prime(29)

True

In [29]:
numbers = [0,1,2,3,4,5,6,7,8,9]
print(numbers)

In [30]:
numbers = []
for i in range(10):
    numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
numbers = []
numbers = [i for i in range(10)]
print(numbers)

In [32]:
names = ['Hatty','George','Henry','Adam','Thomas']
names_h = [name for name in names if 'h' in name.lower()]
print(names_h)

['Hatty', 'Henry', 'Thomas']

In [33]:
keys = ['one','two','three']
x = [1,2,3]
y = [2,5,8]

In [34]:
zipped = zip(x,y)
zip_list = list(zipped)
zip_dic = dict(zip(keys,y))
print(zip_list)
print(zip_dic)

[(1, 2), (2, 5), (3, 8)]
{'one': 2, 'two': 5, 'three': 8}

In [35]:
for index,x in enumerate(x):
    print('index:', i, ', x:', x)

i: 0 , x: 1
i: 1 , x: 2
i: 2 , x: 3

In [36]:
for key, value in enumerate(zip_dic):
    print(key,':',value)

0 : one
1 : two
2 : three
0 : one
0 : 2
1 : two
1 : 5
2 : three
2 : 8

In [37]:
for i, (key,value) in enumerate(zip_dic.items()):
    print(i,':',key)
    print(i,':',value)

0 : one
0 : 2
1 : two
1 : 5
2 : three
2 : 8